*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: circle;
 
  
  
 
}


.hide{
 visibility: hidden;
 position: relative;
 left: -177px;
 width: 400px;
 height: 50px;
 font-size: 3px;
 z-index: -3;
 
 top: 77px;
  
}
.bar-container{
  display: none;
  cursor: pointer;

   
  /* width:50px;
  height: 40px; */
}



.header-container{
  width: 100%;
  height: 115px;
  background-color: rgba(77, 114, 170, 1);
  color: white;
  display: flex;
  justify-content:space-around;
  align-items: center;
  /* gap: 40px; */
  /* flex-wrap: wrap; */
  position: fixed;
  z-index: 30;
  top: 0;
  

  
 
}
.nav-container{
  display: flex;
  align-items: center;
 
  column-gap: 20px; 
  flex-wrap: wrap;
}

.nav-container li{
  list-style: none;
 
  
  
}
.nav-container a{
  
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 21px;
  
}
.nav-link{
  transition: 0.5s ease;
}
.nav-link:hover{
  color: rgb(210, 33, 92);
}
.logo:hover{
  
  transform: scale(1.2);

}
.logo{
  width:222px;
  height:77px;
  object-fit: cover;
  top:-5px;
  position: relative;
  transition: all 0.5s;
  left: -50px;
}


.icon{
  color: rgb(255, 0, 123);
  position: relative;
  left: 100px;
  font-size: 30px;
}


.input-bar::placeholder{
  color:#656565;

  
  

}

.input-bar{
  position: absolute;
  margin-top:4%;
  bottom: 0;
  left: 5px;
  right: 0px;
  position: absolute;
    margin-top: 4%;
    bottom: 0px;
    cursor: pointer;
    top: -15px;
    outline: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    width: 327px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.17) 0px 2px 10px 0px;
    transition: all 0.17s ease 0s;
    max-width: 100%;
    height: 40px;
    z-index: 25;
    background-color: rgb(30, 35, 43);
    box-sizing: border-box;
    border: 2px solid rgb(101, 101, 101);
    padding: 10px 12px;
    border-radius: 3px;
  
}
.arrow{
  position: absolute;
    top: -28px;
    bottom: 0;
    left: 42px;
    right: 0;
    color: rgb(184, 17, 17);
    height: 30px;
    width: 5px;
    z-index: 30;
  

}

.action-container{
  display: flex;
  justify-content:space-between;
  gap: 60px;
  width: 80px;
  position: relative;
  left:-200px;
  padding: 0 23px;
  cursor: pointer;
  
}
.menu{
  position: relative;
  top:0;
    bottom: 0;
    left: -26px;
    right: 0;
    cursor: pointer;
}



 .manu-display li:hover{
  background-color: rgb(200, 20, 149);
}
/* @media only screen and (max-width: 300px){
  .bar-container{
    display: block;
    position: relative;
    left: -100px;
  }
  .nav-container{
    position: fixed;
    top: 60px;
    background-color: #f81fc5;
    width: 100%;
    padding: 10px 0 25px;
    left: 0;

    
  }
  .action-container{
    max-width: 200px;
    gap:3px;
    position: relative;
    left: -300px;
  }
  

} */


  
  
  


  

  .nan-item{
    margin: 16px 0 ;
    
  }
  .notdisplay{
    left: 0;
  }



  .header-container{
    padding: 0 60px;

  }
  .action-container{
    max-width: 200px;
    gap:65px;
    position: relative;
    left: -70px;
  }
  .icon{
    position: relative;
    left: 50px;

  }
  .input-container{
    position: relative;
    left: -177px;
    width: 400px;
    height: 50px;
    font-size: 3px;
    z-index: -3;
    visibility: visible;
    
    top: 77px;
    
   
  }
  /* .input-bar{
    padding: 12px 12px;
    position: relative;
   left:1px ;
   width: 150px;
    top:-3px;
   
    outline: none;
    height: 40px;

  } */
 




.footer-container{
  width: 100%;
  height: 50px;
  background-color: black;
}
.main-container{
  display: flex;
  justify-content: space-between;
  /* padding: 0px 12px; */
  flex-wrap: wrap;
 
  gap:50px;
  /* width: 100%; */
 
  
}
.main-items{
  width: 300px;
  height: 180px;
}

.slider{
  width: 100%;
  max-width: 100%;
  height: 200px;
  margin-top: 40px;
 
  
  display: flex;
  overflow-x: scroll;
  
  
}
.slider::-webkit-scrollbar{
  display: none;
}



.list{
  /* position: absolute; */
   
  width: 100%;
  height: 250px;
  
 
  display: flex;
 object-fit: cover;
 z-index: 3;

}
.bag{
  font-size: 25px;
}


.item{
  width: 100%;
  height: 230px;
  
  width:100vw;
  
  width:max-content;
  filter: grayscale(100%);
  transition: transform 0.5s;
  z-index: 3;
  

  
  
 }
 .item:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(2.4);
 }
 .buttons{
  display: flex;
  width: 90%;
  justify-content: space-between;
  position: absolute;
  top: 17%;
  left: 5%;
  z-index: 1;
 }
 .buttons button{
  width: 40px;
  height: 40px;
 
  border-radius: 5px;
  background-color: #2d2b2b;
  color: rgb(235, 15, 180);
  z-index: -1;

 }
 
 .dots li{
  width: 10px;
  height: 10px;
  background-color: white;
  list-style: none;
  margin: 20px;
  border-radius: 4px;

 }
 .dots .active1{
  width: 30px;
 }
 .paragraph{
  width: 100%;
  height: 300px;
  top: 154px;
  position: relative;
  margin-bottom: 127px;


  
  
  text-align: center;
  z-index: 1;
 }
 .paragraph h2{
  align-content: center;
  text-align: center;
  margin-bottom: 20px;
  color: red;
  z-index: 3;
 }
 .paragraph span{
  color: red;
  font-size: 20px;
  z-index: 3;
  
 }
 .items-containers{
 max-height: max-content;
  /* margin-top: 3%; */
   /* margin-bottom:30px ; */
   margin-left:5% ;
   margin-right:5%;
   max-width: 100%;
  

  /* display:grid;

  */

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 30px;
  margin-bottom: 5%;
  
 
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows:auto ; */
  
  
  /* grid-column-gap: 2px;
  grid-row-gap: 2px;
  
  row-gap: -200px;
  grid-column-gap: 60px;
  
  
z-index: 3; */



  
 }
 .items-containers::-webkit-scrollbar{
  display: none;
}


 .game{
  width: 400px;
  height: 333px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
  
 }
 .gameimage{
  position: relative;
  width:100% ;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit:cover;
  top: -17%;
  
 }
 .logo-layout{
  width: 150px;
    height: 50px;
    position: relative;
    top: -201px;
    bottom: 64px;
    left: 115px;
    right: 23px;
    object-fit:contain;
    top: -170%;
    transform: translateY(30px);
    transition: all 0.5s;
    color: #fff;
    text-align: center;
   gap: 12px;
   display: flex;
   flex-direction: column;
   /* backdrop-filter: blur(5px);
   background: transparent; */

    
 }
 .page-manu{
  height: 50px;
  width: 97%;
  
  
  position: relative;
  top: -20px;
  
  border: 2px solid black;
 ;

  border: none;
  outline: none;
  display: flex;
  flex-wrap: wrap;
  
 }
 .page-menu-container{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
   justify-content: center;
   position: relative;
   top: 12px;
   text-align: center;
   align-items: center;
   align-content: center;
   position: block;
   height: 50px;
  width: 100%;
  margin-left: 25px;
  background-color:#64f100;
  position: relative;
  top: -20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  overflow: hidden;

  
  
 }
 .page-menu-container li{
  list-style: none;
  color: #fff;
  width: 30px;
  height: 30px;
  background-color:#ff4848;
  align-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 20px;
  transition: all 0.5s;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 2px;
 }

 .page-menu-container li:hover{
  transform: scale(1.2);
  background-color: #00fff2;
 }
 /* card information display
  */
 .info{
  display: flex;
  justify-content: center;
  position:relative;
  z-index: 3;
  color: #fff;
  transform: translateY(30px);
  top: -126%;
  opacity: 0;
  transition: all 0.5s;
  

 } 
 .game:hover .info{
opacity: 1;  
top: -150%;


 }
 .game:hover .logo-layout{
  opacity: 1;  
  top: -200%;
  z-index: 3;
  
  
   }
 .info a { 
  text-decoration: none;
  font-size: 22px;
  color: white;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  
 

 }
 .game:hover{
  transform: translateY(2px);
 }
 .game::before{
  content: "";
  opacity: 0;
  position:relative;
  top:0;
  left: 0;
  display:block;
 width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,175,155,0.5),rgb(154 254 6));
  
  z-index: 1;
  transition:  0.5s;
  max-width: 100%;
  min-height: 100%;
  
  
  

  
 

 }
 .game:hover::before{
  
  opacity: 1;
  
  
  

 
}
.card{
  position: relative;
  top:-83%;
  object-fit: cover;
  width: 400px;
  height: 333px;
}
.bottom-banner-container{
  width:100%;
  height: 373px;
  margin-top: 60px;
  
}
.bottom-banner{
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  
}
.buttom-logo{
  position: relative;
  bottom:70%;
  width: 555px;
  height: 375px;
  padding: 0 30px;
  margin: 0 50px;
  
  


}
.buttom-logo>img{
  position: relative;
  left: 38px;
   bottom: 70px;

}
.buttom-logo h6{
  color: #fff;
  font-size: 20px;
  padding: 1px -15px;
  margin: 0 20px;
  font-family:poppins;
  font-weight: 200;
  position: relative;
  left: 38px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  bottom: 50px;


}
.button-buttom{

  padding: 16 24px;
  margin: 20px 30px;
  width: 200px;
  height: 50px;
  position: relative;
  left: 30px;
  border: 2px solid #fff;
   color: #fff;
  background: transparent;
  font-size: 20px;
  transition: all 0.5s;
  bottom: 30px;

}
.button-buttom:hover{
  transform: scale(1.1);
  
}
.latest-button-eliment{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}
.latest-button{
  width: 300px;
  height: 50px;
  padding: 16 24px;
  margin: 20px 30px;
  border: 2px solid hsl(0, 90%, 4%);
  color: #151212;
 background: transparent;
 font-size: 20px;
 transition: all 0.2s;

}
.latest-button:hover{
  transform: scale(1.1);
}
.last-heading{
  width: 100%;
  background-color:RGBA(109, 199, 227);
  height: 100px;
  position: relative;
  top: -50px;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
.last-heading h2{
  width: 100%;
  height: 100%;
  font-size: 28px; position: relative;
  left: 40%;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* display: flex;
  flex-wrap: wrap;
   */

  
}
.Learn-more{
  width: 300px;
  height: 50px;
  padding: 16 24px;
  margin: 20px 30px;
  border: 2px solid hsl(0, 90%, 4%);
  color: #151212;
 background: transparent;
 font-size: 20px;
 transition: all 0.2s;

}
.Learn-more:hover{
  transform: scale(1.1);
}
.paragraph-aman{
  width: 544px;
  height: 70px;
  position: relative;
  top: 12px;
}
.eatremsand-condition{
  border-bottom: 1px solid #969696;
    font-size: 14px;
    margin: 0 auto;
    padding: 0 0 16px 0.65em;
    text-indent: -0.65em;
    line-height: 1.5;
    max-width: 1120px;
    width: 100%;
    height: 85.88px;
    display: flex;
    align-items: center;
    border: none;
    /* overflow: hidden;
     */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 1px solid #969696;
    border-inline-start: #00fff2;
    
   

}
.eatremsand-condition a{
  color: #ff4848;
  text-decoration: none;
}
hr{
  width: 68%;
  position: relative;
  left: 10%;
}
.dark{
  width:100% ;
  height:175px;
  padding: 19px 186px;
  border: none;
  background-color: #f9f7f7;
  /* display: flex;
  flex-wrap: wrap; */
  
  
  position: relative;
  display: flex;
  justify-content: space-evenly;
 
}
.dark a{
  list-style: none;
  text-decoration: none;
  color: rgb(20, 1, 1);
  transition: all 0.5s;
  overflow: hidden;
}
.dark ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 679px;
  height: 40px;
  
}
.dark ul li{
  list-style: none;
  text-decoration: none;
  
}
.dark a:hover {
  
  color: #ff4848;
}
.social-container{
  display: flex;
  justify-content: space-around;
 width: 292px;
 height: 61px;
 align-items: center;
 position: relative;
 top: 67px;

}
.social-links{
  width: 30px;
  width: 30px;
}
.social-links img{
  width: 30px;
  width: 30px;
}
.dark h3{
  position: relative;
  top: 12px;
  
  width: 292px;
  height: 61px;
  right: -382px;

}
.social-links img{
  transition: all 0.5s;
}

.social-links:hover.social-links img{
  transform: scale(1.2);
}


@media only screen and (max-width: 600px){
 
  .input-bar{
    width: 94%;
    position: relative;
    top: -6px;
  }

  .arrow{
    position: absolute;
    left: 12px;
  }

  .hide{

    width: 173px;
    position: absolute;
    top: 91px;
    left: 183px;
    visibility: hidden;
  }
  .input-container{
    width: 173px;
    position: absolute;
    top: 91px;
    left: 183px;
    visibility: visible;
    
  }
  

  .header-container{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    
    

  }
  .nav-container{
    position: absolute;
    top: 80px;
    height: 162px;
    display: flex;
    flex-direction: column;
    left: -100%;
    gap: 12px;
    background-color: fuchsia;
    width: 100%;
    transition: all 0.3s;
  }
  .nav-container a{
    position: relative;
    top: 15px;
  }
.bar-container{
  display: block;
  position: relative;
  left:57px;


}
#bar{position: relative;
font-size: 55px;
  
}

.bag{
  font-size: 30px;
  position: absolute;
  /* width: 100px;
  height: 60px; */
  /* background-size: 100% 100%; */

top: 30%;

}
.buttons{
  position: absolute;
  top: 28%;
}
.open-list{
  position: absolute;
  left: 0;
 
}
.action-container{
  gap: 32px;
        left: -20px;
        width: 500px;
        display: none;
}
.action-bar{
  width: 100%;
  position: relative;
  font-size: 60px;
}

.icon{
  position: relative;
  left: 0;
  font-size: 35px;
  display: none;

}
.header-container a{
  position: relative;
  left: -5px;
}


  .logo{
    left: -55px;
    width: 140px;
  }
.slider{
  width: max-content;
  overflow: hidden;
  position: relative;
  left: -25px;
  display: none;
  
}
.list{
  position: relative;
  width: 100%;
}
.paragraph{
  
        width: 100%;
        height: 500px;
        align-items: center;
        flex-direction: column;
        position: relative;
        /* right: -69px; */
        top: 125px;
        height: max-content;
        display: flex;
        margin-bottom: 122px;
    
}
.paragraph h2{
  font-family: "Luckiest Guy", cursive;
  font-weight: 600;
  font-style: normal;
  color:#00bfff;
  text-transform: uppercase;
  text-indent: 12px;
  font-size: 30px;
 	
 
 	
text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.paragraph p{
  font-size: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.paragraph p span{
  font-size: 9px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

  
}
 .main-container{
  
  padding:0;
  width: 100%;
  

}
.footer-base{
  width: 100%;
  position: relative;
} 

 .bottom-banner-container{
  /* position: relative;
  top: 170px; */
  width: 100%;
} 
  .bottom-banner{
    background-size: contain;
    object-position: left;
  }
  .button-buttom{
    width: 59%;
    
    position: relative;
    left: -78px;
        top: 8px;
  }

  .buttom-logo h6{
    width: 71%;
        font-size: 10px;
        position: relative;
        left: -96px;
        
        top: -45px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        text-align: -webkit-center;
  }
  .buttom-logo>img {
    position: relative;
    left: -15px;
    bottom: 90px;
    width: 237px;
  }
.items-containers{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 12px;
  grid-template-columns: 1fr 1fr;
  padding: 12px 12px;
  position: relative;
  left: -4px;
} 

.game{
  width: 310px;
  height: 280px;
}

.card{
  width: 310px;
  height: 280px;
}
/* .logo-layout{
  width: 54px;
        position: relative;
        top: -175px;
        left: 41px;

} */


/* .info {
  display: none;
} */

.game:hover .info a{
  opacity: 1;  
  top: -150%;
  top: -61px;
    left: -3px;
    font-size: 12px;
  
   }
   .game:hover .logo-layout{
    opacity: 1;  
    top: -200%;
    z-index: 3;
    
}

.last-heading{
  position: relative;
  top: -50px;
  left: 0px;
  width: 100%;
}
.paragraph-aman{
  width: 100%;

}
.paragraph-aman h2{
  font-size: 13px;
  position: relative;
  left: 9px;
}
.Learn-more{
  position: relative;
  width: 129%;
  left: -79px;
  top: -48px;
  width: 162%;

}
 .dark a{
  font-size: 11px;



  
} 
.dark ul li{
  width: 126px;
        height: 33px;
        text-align: start;
}
.body-container{
  overflow: hidden;
  overflow-x: hidden;
  width: 100vw;
}

.dark{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.dark ul{
  width: 380px;
  height: 175px;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 100px;
  position: absolute;
  border-bottom: 1px solid #656565;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 20px;
}
.social-container{
  position: absolute;
        width: 100%;
        height: 68px;
        top: 238px;
        left: -7px;
}
.dark h3{
  position: absolute;
  width: 100%;
  left: 0px;
  top: 191px;
        padding: 12px 25px;
}
 .footer-base{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: max-content;
  height:496px;
} 
.footer-container{
  width: 100%;
}


label{
  width: 60px;
        height: 60px;
        position: absolute;
        top: -2px;
        left: -163px;
}


}
.Ok-button:hover{
  transform: scale(1.2);
}

@media only screen and (max-width: 450px){
  /* .header-container{
    width: 100%;
    height: 144px;
    display: flex;
    flex-wrap: wrap;
  }
  .nav-container{
    position: absolute;
    top: 80px;
    height: 162px;
    display: flex;
    flex-direction: column;
    left: -100%;
    gap: 12px;
    background-color: fuchsia;
    width: 100%;
    transition: all 0.3s;
  }
  .nav-container a{
    position: relative;
    top: 15px;
  }
.bar-container{
  display: block;
  position: relative;
  left: -50px;

}
#bar{position: relative;
  
}
.buttons{
  position: absolute;
  top: 28%;
}
.open-list{
  position: absolute;
  left: 0;
 
}
.action-container{
  gap: 12px;
  left: -200px;
}

.icon{
  position: relative;
  left: -20px;
}

  .logo{
    position: relative;
    left: -30px;
  }
  .slider{
    width: 100vw;
    
    position: absolute;
    top: 40px;
    left: 45px;
    display: none;
    
    
  }
  .paragraph{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 282px;
    left: 14px;
    text-align: center;
  }
  .items-containers{
    position: relative;
    /* left: 48px; 
    top: 163px;
    
    border-radius: 3px;
  }
  .item{
    width: max-content;
    height: 121px;
  }
.list{
  width: 100vw;
} .*/
/* 
  main{
    width: 171vw;
    position: absolute;
    display: block;
  } 
.page-manu{
  position: relative;
  top: 170px;
}
.bottom-banner-container{
  position: relative;
  top: 170px;
}
.latest-button-eliment{
  position: relative;
  top: 170px;
  
}
.latest-button{
  width: 630px;
}
.buttom-logo>img{
  position: relative;
  left: 144px;
}
.buttom-logo h6{
  font-size: 12px;
  text-align: center;
  width: 462x;
}
.last-heading{
  position: relative;
  
  height: 112px;
  top: 173px;
        height: 178px;
  
}
.button-buttom{
  position: relative;
  top: -14px;
  left: 86px;
        width: 404px;
}
.dark{
  position: relative;
  top: 173px;
}
.last-heading h2{
  font-size: 24px;
  text-align: center;
  position: relative;
        left: 31px;
}.*/
}


html,body{
  overflow-x: hidden;
  /* overflow-y: scroll; */
  background-color:#eee8e8;
}
.Ok-button{
  width: 48px;
    height: 31px;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgb(71, 108, 255);
    z-index: 34;
    position: relative;
    left: 279px;
    top: 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: #fff;
    font-size: 14px;
    display: block;
    transition: all 0.3s;
}





